{% load menu_tags wagtailimages_tags  %}

{% with settings.settings.BaseSettings as setting %}

<header>
    <div class="header-top-area blue-bg">
    <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="headers-left">
                        {% if setting.tel %}
                        <div class="headers-left-text">
                            <div class="headers-left-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="headers-left-text">
                                <p>{{setting.tel}}</p>
                            </div>
                        </div>
                         {% endif %}
                         {% if setting.short_address %}
                        <div class="headers-left-text">
                            <div class="headers-left-icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="headers-left-text">
                                <p>{{setting.short_address}}</p>
                            </div>
                        </div>                         
                         {% endif %}

                    </div>
                </div>
                <div class="col-md-6 col-sm-6  col-xs-12">
                    {% for btn in setting.tab_buttons.all %}
                    <div class="header-rights">
                        <a href="{{btn.button_url}}" target='_blank'>{{btn.button_text}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- main-menu-area-start -->
    <div id="header-sticky" class="main-menu-area menu-style-1 white-header">
        <div class="container md-container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="logo">
                    
                        <a href="/">{% image setting.logo max-340x85 %}</a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    {% main_menu max_levels=2 template="menus/nav_menu.html" apply_active_classes=True add_sub_menus_inline=True %}					
                </div>
                <div class="col-xs-12"><div class="mobile-menu"></div></div>				
            </div>
        </div>
    </div>
</header>
{% endwith %}
