{% load wagtailimages_tags %}

<div class="our-service-area pt-120 pb-90">
    <div class="container">
        <div class="section-title mb-60 text-center" >
            {% if self.subtitle %}<h4>{{ self.subtitle }}</h4>{% endif %}
            {% if self.title %}<h2>{{ self.title }}</h2>{% endif %}
        </div>
        <div class="row flex">
            {% for card in self.cards %}
            {% image card.image fill-400x400 as img %}
            <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
                <div class="service-wrapper mb-30">
                    <div class="service-img">
                        <img src="{{ img.url }}" alt="{{ img.alt }}" />
                    </div>
                    <div class="service-text text-center">
                        <h2><a href="{% if card.button_page %}{{card.button_page}}{% elif card.button_url %}{{card.button_url}}{% endif %}">{{ card.title }}</a></h2>
                        <p>{{ card.text }}</p>                        
                        {% if card.button_page %}
                            <a href="{{card.button_page.url}}">read more</a>
                        {% elif card.button_url %}
                            <a href="{{card.button_url}}">read more</a>        
                        {% endif %}
                    </div>
                </div>
            </div>            
            {% endfor %}         
        </div>
    </div>
</div>

